#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig QOS
	bool "Application watchdog"
	default y

if QOS

config QOS_PENDING_MESSAGES_MAX
	int "Maximum amount of pending messages"
	default 10

endif # QOS

module = QOS
module-str = QoS
source "subsys/logging/Kconfig.template.log_config"
