#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# Only a single cloud service is supported by this application.
CLOUD_SERVICE_SELECTOR := choice

if NRF_CLOUD

config NRF_CLOUD_MQTT
	default y

config NRF_CLOUD_CONNECTION_POLL_THREAD
	default y

choice NRF_CLOUD_SEND_SOCKET
	default NRF_CLOUD_SEND_TIMEOUT
endchoice

# MQTT Transport library
# Maximum specified MQTT keepalive timeout for nRF Cloud is 1200 seconds.
config MQTT_KEEPALIVE
	default 1200

config MQTT_CLEAN_SESSION
	default y

choice GPS_MODULE_DATA_FORMAT
	default GPS_MODULE_NMEA
endchoice

endif

menu "Asset Tracker"

config ASSET_TRACKER_V2_APP_VERSION
	string "Asset Tracker application firmware version"
	default "0.0.0-development"

config ASSET_TRACKER_V2_APP_VERSION_MAX_LEN
	int "Maximum length of application firmware version"
	default 150

rsource "src/modules/Kconfig.modules_common"
rsource "src/modules/Kconfig.app_module"
rsource "src/modules/Kconfig.cloud_module"
rsource "src/modules/Kconfig.data_module"
rsource "src/modules/Kconfig.gps_module"
rsource "src/modules/Kconfig.modem_module"
rsource "src/modules/Kconfig.sensor_module"
rsource "src/modules/Kconfig.ui_module"
rsource "src/modules/Kconfig.util_module"
rsource "src/modules/Kconfig.led_module"
rsource "src/modules/Kconfig.debug_module"

rsource "src/cloud/cloud_codec/Kconfig"
rsource "src/watchdog/Kconfig"
rsource "src/events/Kconfig"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APPLICATION_MODULE
module-str = Application module
source "subsys/logging/Kconfig.template.log_config"
