#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig QOS
	bool "QoS library"

if QOS

config QOS_PENDING_MESSAGES_MAX
	int "Maximum amount of pending messages"
	default 20

config QOS_MESSAGE_NOTIFIED_COUNT_MAX
	int "Maximum number of times to resend a message"
	default 20

endif # QOS

module = QOS
module-str = QoS
source "subsys/logging/Kconfig.template.log_config"
