#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "Nordic Serial LTE Modem"

config SLM_CUSTOMIZED
	bool "Flag for customized functionality"
	select SLM_STATS_WATCHDOG
	select SLM_HW_REV
	help
	  Enable this flag to include customized logic.

config SLM_WATCHDOG_SYSTEM_WORKQUEUE_TIMEOUT_MSEC
	int "Watchdog timeout in milliseconds for system workqueue"
	default 60000
	help
	  Timeout for system workqueue watchdog. This is used to monitor the responsiveness
	  of the system workqueue, which in many cases is used by SLM for sending AT commands to the
	  modem. Make sure that this value is higher than the longest expected time for the AT
	  command to be processed by the modem.

config SLM_AT_MODE
	bool "Serial LTE Modem by raw AT mode"
	default y
	select AT_CMD
	select AT_NOTIF
	select AT_CMD_PARSER

config SLM_AT_MAX_PARAM
	int "Maximum number of parameters in AT command"
	default 9

menuconfig SLM_NATIVE_TLS
	bool "Use Zephyr mbedTLS"

config SLM_UART_HWFC_RUNTIME
	bool "Support of UART HWFC runtime configuration"

if SLM_NATIVE_TLS

choice
	prompt "Credential storage backend"
	default SLM_NATIVE_TLS_PS if TFM_PARTITION_PROTECTED_STORAGE
	default SLM_NATIVE_TLS_MODEM
	help
		Select which mechanism is used to store credentials
	config SLM_NATIVE_TLS_MODEM
		bool "Modem storage"
		help
		  Credentials will be stored in the nRF9160 modem's storage.
		  Security tag value will be offset and CA certificate slots are
		  used. For details, see the slm_tls_map_sectag function.
	config SLM_NATIVE_TLS_PS
		bool "Protected Storage (TF-M)"
		depends on TFM_PARTITION_PROTECTED_STORAGE
		help
		  Credentials will be stored using the PSA Protected Storage
		  API. This requires that the application be built with TF-M.
endchoice

if SLM_NATIVE_TLS_PS
config SLM_NATIVE_TLS_PS_WRITE_ONCE
	bool "Write-once credentials"
	default y
	help
		Credentials are written with the "write-once" attribute, meaning
		that they cannot be modified, replaced or deleted by firmware.
endif

endif # SLM_NATIVE_TLS


#
# external XTAL for UART
#
config SLM_EXTERNAL_XTAL
	bool "Use external XTAL for UARTE"
	default y

#
# Inter-Connect
#
choice
	prompt "UART for interconnect"
	default SLM_CONNECT_UART_0
	help
		Selects which UART to use for interconnect:
		-  UART 0
		-  UART 2
	config SLM_CONNECT_UART_0
		bool "UART 0"
	  select UART_0_NRF_HW_ASYNC
	  select SLM_UART_HWFC_RUNTIME if $(dt_node_has_prop,uart0,rts-pin) && \
					  $(dt_node_has_prop,uart0,cts-pin)
	config SLM_CONNECT_UART_2
		bool "UART 2"
	  select UART_2_NRF_UARTE
	  select UART_2_NRF_HW_ASYNC
	  select SLM_UART_HWFC_RUNTIME if $(dt_node_has_prop,uart2,rts-pin) && \
					  $(dt_node_has_prop,uart2,cts-pin)
endchoice

choice
	prompt "Termination mode"
	default SLM_CR_LF_TERMINATION
	help
		Sets the command terminator used by the serial terminal.
		Available options are:
		-  CR termination
		-  LF termination
		-  CR+LF termination
	config SLM_CR_TERMINATION
		bool "CR termination"
	config SLM_LF_TERMINATION
		bool "LF termination"
	config SLM_CR_LF_TERMINATION
		bool "CR+LF termination"
endchoice

#
# GPIO wakeup
#
config SLM_GPIO_WAKEUP
	bool "Support of GPIO wakeup"
	default y
	help
	  Enable GPIO wakeup on nRF9160 side.

if SLM_GPIO_WAKEUP

config SLM_START_SLEEP
	bool "Enter sleep on startup"
	help
	  Put nRF9160 into deep sleep mode after startup.

endif

config SLM_INTERFACE_PIN
	int "Interface GPIO to wake up or exit idle mode"
	default 6 if SLM_CONNECT_UART_0
	default 31 if SLM_CONNECT_UART_2

#
# Socket
#
config SLM_SOCKET_RX_MAX
	int "Maximum RX buffer size for receiving socket data"
	range 576 708
	default 576
	help
	  Default: NET_IPV4_MTU (576)
	  Maximum: MSS setting in modem (708)

#
# TCP/TLS proxy
#
config SLM_TCP_FILTER_SIZE
	int "Size of IPv4/IPv6 address allowlist"
	range 1 6
	default 6

config SLM_TCP_POLL_TIME
	int "Poll time-out in seconds for TCP connection"
	default 10

config SLM_UDP_POLL_TIME
	int "Poll time-out in seconds for UDP connection"
	default 10

config SLM_TCP_CONN_TIME
	int "Connection time-out in seconds for TCP server"
	default 60

config SLM_DATAMODE_HWFC
	bool "UART HWFC for data mode"
	default y
	help
	  Require UART hardware flow control for data mode

config SLM_DATAMODE_TERMINATOR
	string "Pattern string to terminate data mode"
	default "+++"
	help
	  Use a pattern to terminate data mode

config SLM_DATAMODE_SILENCE
	int "Silence time to exit data mode"
	default 1
	help
	  Exit data mode after the specified time (in seconds) of UART silence

#
# Configurable services
#
config SLM_SMS
	bool "SMS support in SLM"
	default y
	select SMS
	help
	  Support SMS send/receive in plain text

rsource "src/gps/Kconfig"
rsource "src/ftp_c/Kconfig"
rsource "src/mqtt_c/Kconfig"
rsource "src/http_c/Kconfig"
rsource "src/twi/Kconfig"
rsource "src/gpio/Kconfig"
rsource "src/ui/Kconfig"
rsource "src/hw_rev/Kconfig"
rsource "src/user_config/Kconfig"

module = SLM
module-str = serial modem
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endmenu
