#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = DISPLAY
module-str = Display module
source "subsys/logging/Kconfig.template.log_config"
