#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DATA_MODULE
	bool "Data module"
	select DATE_TIME
	default y

if DATA_MODULE

config DATA_AGPS_REQUEST_ALL_UPON_CONNECTION
	bool "Request all A-GPS data upon a connection"
	depends on NRF_CLOUD_AGPS || NRF_CLOUD_PGPS

config DATA_SEND_ALL_DEVICE_CONFIGURATIONS
	bool "Encode and send all device configurations regardless if they have changed or not"
	help
	  If this option is disabled the data module will only include device configuration values
	  that have changed from the last configuration update. This is to save costs related to
	  data transfers and to lower the device's overall current consumption due to less CPU and
	  radio-activity.

config DATA_THREAD_STACK_SIZE
	int "Data module thread stack size"
	default 5248 if NRF_CLOUD_AGPS
	default 3200

choice DATA_DEVICE_MODE
	prompt "Device mode"
	default DATA_DEVICE_MODE_ACTIVE
	help
	  The device can be in either active or passive mode.
	  In active mode the device samples and sends data at regular intervals set by
	  CONFIG_DATA_ACTIVE_TIMEOUT_SECONDS.
	  In passive mode the device samples and sends data only if movement has been detected and
	  the movement resolution timer set by CONFIG_DATA_MOVEMENT_RESOLUTION_SECONDS has
	  expired.

config DATA_DEVICE_MODE_ACTIVE
	bool "Active mode"

config DATA_DEVICE_MODE_PASSIVE
	bool "Passive mode"

endchoice # DATA_DEVICE_MODE #

config DATA_ACTIVE_TIMEOUT_SECONDS
	int "Default active wait timeout in seconds"
	default 120
	help
	  Number of seconds between sampling/publication in active mode.

config DATA_MOVEMENT_RESOLUTION_SECONDS
	int "Default movement resolution in seconds"
	default 120
	help
	  Number of seconds between each time movement can trigger sampling/publication in passive
	  mode.

config DATA_MOVEMENT_TIMEOUT_SECONDS
	int "Default movement timeout in seconds"
	default 3600
	help
	  Number of seconds between each sampling/publication in passive mode regardless of
	  movement. Used as a fail-safe to ensure updates even if the device is not moving for
	  longer durations.

config DATA_ACCELEROMETER_ACT_THRESHOLD
	int "Default accelerometer activity threshold in m/s²"
	default 10
	help
	  Minimum absolute value in m/s² that is considered movement in passive mode.

config DATA_ACCELEROMETER_INACT_THRESHOLD
	int "Default accelerometer inactivity threshold in m/s²"
	default 5
	help
	  Maximum absolute value in m/s² that is considered stillness in passive mode.

config DATA_ACCELEROMETER_INACT_TIMEOUT_SECONDS
	int "Default accelerometer inactivity timeout in seconds"
	default 60
	help
	  Minimum time for lack of movement to be considered stillness in passive mode.

config DATA_GNSS_TIMEOUT_SECONDS
	int "Default GNSS timeout"
	default 30
	help
	  Timeout for acquiring a GNSS fix during sampling of data.

config DATA_SAMPLE_GNSS_DEFAULT
	bool "Include GNSS in sample requests"
	default y
	help
	  If this configuration is enabled the application will by default include GNSS data in
	  sample requests sent to other modules. This configuration can be overwritten by changing
	  the application's real-time configuration using the cloud-side state.

config DATA_SAMPLE_NEIGHBOR_CELLS_DEFAULT
	bool "Include neighbor cells in sample requests"
	default y
	help
	  If this configuration is enabled the application will by default include neighbor cell
	  data in sample requests sent to other modules. This configuration can be overwritten by
	  changing the application's real-time configuration using the cloud-side state.

endif # DATA_MODULE

module = DATA_MODULE
module-str = Data module
source "subsys/logging/Kconfig.template.log_config"
